* {
    outline: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,  legend,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html,
body {
    height: 100%;
}
ol, ul {
    list-style: none;
}

body {
    background: #F1F0ED;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}
.lock {
    overflow: hidden;
}

/*шапка*/

/*фиксированное плавающее меню*/

#top_nav {
    bottom: 0;
    position: fixed;
    z-index: 1000;
    width: 950px;
    height: 25px;
    background: #eee;
    padding-left: 10px;
    padding-top: 5px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
}

.button {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 35px;
    width: 50px;
    height: 15px;
    background: red;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
}
.btn-added {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 35px;
    width: 50px;
    height: 15px;
    padding: 2px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    color: red;
    background: white;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
}

.header {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    background: white;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
}

.price {
    display: block;
    float: right;
    z-index: 1000;
    font-family: "Impact", "Price", sans-serif;
    font-style: italic;
    font-size: 25px;
    color: red;
    text-align: right;
    white-space: nowrap;
    line-height: 1;
    text-shadow: -0.05em -0.02em 0px #FFF, -0.07em 0.05em 0px #FFF, 0.07em -0.05em 0px #FFF, 0.05em 0.05em 0px #FFF, 0.08em 0.08em 0px #707070, -0.03em 0.08em 0px #707070;
}

.block {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    -border: 1px solid red;
}

.top-menu {
    position: absolute;
    height: 30px;
    width: 920px;
    top: 120px;
}

.product {
    position: relative;
    float: left;
    margin-right: 10px;
    width: 120px;
    height: 200px;
    background: white;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
}

.img {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    z-index: 100;
}

.img img {
    width: 80px;
    margin-left: 20px;
    margin-top: 0px;
}

.block-header {
    height: 150px;
}

.block-footer {
    height: 200px;
    margin-top: 10px;
    border: 1px solid red;
}

.block-content {
    min-height: 400px;
    margin-top: 10px;
}

.left-menu {
    float: left;
    width: 300px;
    min-height: 150px;
    border: 1px solid red;
    text-align: center;
    padding-top: 10px;
}
.left-menu img {
    vertical-align: bottom;
    margin-bottom: 2px;
}
/*.left-menu a {
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.2em;
    font-family: Helvetica, Arial, sans-serif;
    color: #f00;
    border-bottom: 1px dashed #f00;
}*/
/*.left-menu a:hover {
    border-bottom: none;
}*/

/* общие стили для блока фильтров */
.filter-aside {
    float: left;
    position: relative;
    width: 300px;
    height: 100%;
    /*min-height: 350px;*/
    border: 1px solid red;
    margin-top: 10px;
    padding-top: 10px;
}
.filter-aside article input,
.filter-aside article label {
    vertical-align: middle;
}

.filter-block {
    display: block;
    width: 250px;
    margin: 10px auto;
    background: #fff;
    border: 1px solid #d1d1d1;
    /*border-bottom: 1px solid #c5c5c5;*/
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ddd;
}
.filter-block ul {
    padding: 5px;
    overflow: hidden;
    margin:0;
}
.filter-block ul li {
    font-size: 13px;
    /*color: #a1a1a1;*/
    padding: 5px;
}
.filter-block ul li.inv {
    display: none;
}

.fltr-heading {
    border-radius: 5px;
    padding: 5px;
    background: linear-gradient(center top, #efefef 0%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efefef),color-stop(1, #e0e0e0));
    border: 1px solid #d1d1d1;
    /*color: #c1c1c1;*/
    color: #f00;
    font-size: 13px;
    font-weight: normal;
    text-shadow: 1px 1px 0px #fff;
    margin: 0;
    cursor: pointer;
}
.fltr-heading span {
    float: right;
    /*cursor: pointer;*/
}
.fltr-heading span:hover {
    text-shadow: 0px 0px 3px #a1eeff;
}

/* стили для инпутов и ползунка цены */

.fltr-body_price {
    margin-top: 10px;
}
.fltr-price input {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    padding: 0 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* --- кнопка отправки значений слайдера цены --- */
/*.fltr-price input.price_btn {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 20px;
    padding: 0 3px;
    cursor: pointer;
    background: #346F7D;
    color: #fff;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
}*/

/* Jquery UI slider 
----------------------*/
.ui-slider {
    position: relative;
    text-align: left;
    margin: 5px;
    margin-top: 10px;
}

/* Ширина, высота и позиционирование для ползунков
----------------------------------*/
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    cursor:pointer;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

/* Высота горизонтальной полоски
----------------------------------*/
.ui-slider-horizontal {height: 10px;}
.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}
.ui-slider-horizontal .ui-slider-range {top: 0;height: 100%;}
.ui-slider-horizontal .ui-slider-range-min {left: 0;}
.ui-slider-horizontal .ui-slider-range-max {right: 0;}

/* Ширина вертикальной полоски
----------------------------------*/
.ui-slider-vertical {
    width: .8em;
    height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {left: 0;width: 100%;}
.ui-slider-vertical .ui-slider-range-min {bottom: 0;}
.ui-slider-vertical .ui-slider-range-max {top: 0;}

/* Указание шрифта и размера текста
----------------------------------*/
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-widget .ui-widget {
    font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
}

/* Стилизация полоски
----------------------------------*/
.ui-widget-content {
    margin-top: 15px;
    border: 1px solid #c6c6c6;
    background: #fff;
    color: #222222;
    
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
    
}
.ui-widget-content a {color: #222222;}

/* Стилизация промежутка между ползунками
----------------------------------*/
.ui-widget-header {
    background: #346f7d;
    color: #222222;
    font-weight: bold;
}
.ui-widget-header a {color: #222222;}

/* Стилизация ползунков 
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    font-weight: normal;
    color: #555555;
    border: 1px solid #ccc;
    border-top: 1px solid #eee;
    background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top,  #fafafa 0%, #f2f0f1 39%, #e8e8e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(39%,#f2f0f1), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fafafa 0%,#f2f0f1 39%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fafafa 0%,#f2f0f1 39%,#e8e8e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fafafa 0%,#f2f0f1 39%,#e8e8e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fafafa 0%,#f2f0f1 39%,#e8e8e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
    
    -webkit-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
       -moz-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
        -ms-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
         -o-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
            box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #555555;
    text-decoration: none;
}

/* Стилизация ползунка при наведении и фокусе
----------------------------------*/
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #fff;
    background: #65ABD0;
    font-weight: normal;
    color: #212121;
}

/* блок счетчика корзины */
#cart span.page-cart {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-family: Helvetica, Arial, sans-serif;
    color: #f00;
    cursor: pointer;
    border-bottom: 1px dashed #f00;
}
#cart span.page-cart:hover {
    border-bottom: none; 
}

/* Начало стилей модального окна корзины */
#modal_cart {
    width: 500px; 
    min-height: 200px;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 50%; /* oтступaем сверху 50%*/
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -150px;
    margin-left: -250px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: block;
    visibility: hidden;
    z-index: 1005; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
}
/* ссылки на товары в модальном окне*/
#modal_cart li {
    display: block;
}
/* Кнoпкa Х зaкрыть */
#modal_cart #modal_cart_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
/* Еще кнопка-закрывашка */
#modal_cart .modal_cart_btn { 
  display: block;
  border: 1px solid #ba3329;
  border-radius: 3px;
  line-height: 20px;
  padding: 0 15px;
  margin-top: 20px;
  transition: none;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color: #f00;
  /*background-image: linear-gradient(to bottom, #ed6d64, #ed574c);*/
  box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b, 0 2px 4px rgba(0, 0, 0, 0.2);  
}

#modal_cart .modal_cart_btn:hover, #modal_cart .modal_cart_btn:focus {
  background: #ed574c;
  border-color: #870c03;
  box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b;
}
#modal_cart .modal_cart_btn:active {
  background: #ed574c;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
#modal_cart .delete-item {
    width: 21px;
    height: 21px;
    /*position: absolute;*/
    /*top: 10px;*/
    /*right: 10px;*/
    cursor: pointer;
    display: block;
}
/* Пoдлoжкa */
#overlay {
    z-index:1003; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position:fixed; /* всегдa перекрывaет весь сaйт */
    background-color:#000; /* чернaя */
    opacity:0.5; /* нo немнoгo прoзрaчнa */
    -moz-opacity:0.5;  /*фикс прозрачности для старых браузеров */
    filter:alpha(opacity=80);
    width:100%; 
    height:100%; /* рaзмерoм вo весь экрaн */
    top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left:0;
    cursor:pointer;
    display:none; /* в oбычнoм сoстoянии её нет) */
}
/* Счетчик товара в модальном окне корзины (+ "//" -) */
.spinner-wrap {
    box-sizing: border-box;
    display: inline-block;
    width: 78px;
    margin-left: 25px;
    position: relative;
    text-align: center;
    /*border: 1px solid #000;*/
}
.spinner-wrap a {
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 25px;
    line-height: 25px;
    background-image: linear-gradient(#fff,#e2e2e2);
    /*border: 1px solid #000;*/
    vertical-align: top;
}
.spinner-wrap a.spin-up {
    margin-left: -4px;
}
.spinner-wrap .spin-input {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-left: -4px;
    /*border: 1px solid #000;*/
}
.spinner-wrap .spin-icon {
    display: block;
}
/* Окончание стилей модального окна корзины */

.news {
    float: left;
    display: block;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 5px;
    min-height: 150px;
    border: 1px solid red;
}

.promo-slider {
    float: right;
    width: 650px;
    min-height: 250px;
    border: 1px solid red;
    background: #b0b0b0;
}

.deals {
    float: right;
    width: 650px;
    min-height: 150px;
    border: 1px solid red;
    margin-top: 10px;
}

.vendors {
    float: right;
    width: 650px;
    min-height: 100px;
    border: 1px solid red;
    margin-top: 10px;
}

.logo {
    position: relative;
    left: 40px;
    width: 80px;
    border: 1px solid red;
}

#wrap {
    min-height: 100%;
    border: 1px solid red;
}

#main {
    overflow: auto;
    padding-bottom: 250px;
}


/* must be same height as the footer */

#footer {
    position: relative;
    margin-top: -250px;
    /* negative value of footer height */
    height: 250px;
    clear: both;
    background: white;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px -3px 4px -3px rgba(0, 0, 0, 0.3);
}

.footer {
    height: 200px;
    clear: both;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px -3px 4px -3px rgba(0, 0, 0, 0.3);
}

.main-menu {
    list-style: none;
    width: 300px;
    margin: 0px;
    padding: 0px;
    border: 1px solid red;
}

.main-menu li {
    margin-bottom: 8px;
    margin: 0px;
}

.main-menu a {
    display: block;
    padding: 8px 14px;
    color: black;
    -border: 1px solid red;
    margin-bottom: -1px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.4;
}

.clearfix::before,
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
.clearfix::after {
    clear: both;
}

#top-link {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
}

/* filter */




/*Opera Fix*/

body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
    /
}

<! - [! Если IE 7]> <Тип стиль="текст / CSS"> #wrap {
    дисплей: таблица;
    высота: 100%
}

</ Стиль> <! [ENDIF] ->
