* {
	/*box-sizing: border-box;*/
	outline: none;
}
/**::before,
*::after {
	box-sizing: border-box;
}*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,  legend,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html,
body {
	height: 100%;
}
ol, ul {
	list-style: none;
}

body {
	background: #F1F0ED;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 1.4;
}

#wrap {
	min-height: 100%;
	border: 1px solid red;
}

.block {
	position: relative;
	margin: 0 auto;
	width: 960px;
	-border: 1px solid red;
}
/*------ Шапка ------*/

.header {
	width: 960px;
	margin: 0 auto;
	margin-bottom: 350px; /* временный отступ*/
	height: 160px;
	background: white;
	/*box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);*/
	-border: 1px solid red;
}
.block-header {
	width: 960px;
	height: 160px;
}

.logo {
	position: relative;
	left: 40px;
	width: 80px;
	border: 1px solid red;
}
/*----- фиксированное плавающее меню ------*/

#header_bottom {
	position: fixed;
	bottom: 0;
	top: 121px;
	z-index: 1000;
	max-width: 960px;
	width: 100%;
	height: 40px;
	margin: 0 auto;
	background: #ccc;
	/*box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);*/
}
#header_bottom * {
	box-sizing: border-box;
}

/* --- "Кнопка" каталога --- */
.header_catalog {
	position: relative;
	width: 250px;
	height: 40px;
	text-align: center;
	background: #eee;
}
.header_catalog > a {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 1.1em;
	font-weight: bold;
	color: #bbb;
	text-transform: uppercase;
	text-decoration: none;
}
.header_catalog:hover {
	background: #fff;
}
.header_catalog:hover > a {
	color: #f00;
}
.header_catalog > a::after {
	content: '';
	/* если хотим через position - absolute, то: */
	display: block;
	position: absolute;
	top: 15px;
	right: 20px;
	/* если хотим через float, то: */
	/*display: inline-block;
	float: right;
	width: 0;
	height: 0;
	margin-top: 15px;
	margin-right: 20px;*/
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 8px solid #f00;
	/*transition: all 0.2s ease-in-out;*/
}
.header_catalog:hover > a::after {
	border-top: none;
	border-bottom: 8px solid #f00;
}
.header_catalog:hover .catalog_menu {
	/*display: block;*/
}
/* --- Главное меню категорий --- */
.catalog_menu {
	display: none;
	position: relative;
	width: 250px;
	background: #fff;
	/*transition: all 0.5s ease-in-out 0.1s;*/
	/*box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);*/
}
.catalog_menu li {
	/*position: relative;*/
	/*padding: 0 15px;*/
}
.catalog_menu li a {
	display: block;
	padding: 8px 14px;
	color: #ff2233;
	text-decoration: none;
	box-shadow: 0 1px 0 #e7e7e7;
}
.catalog_menu > li:last-child  a{
	box-shadow: none;	
}
.catalog_menu > li:hover > a {
	background-color: #ff2233;
	color: #fff;
	box-shadow: none;
}
.catalog_menu > li.catalog_menu_item--active > a {
	background-color: #ff2233;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.catalog_menu li:hover > ul {
	display: block;
}

/* --- Подменю (.catalog_sub-menu) --- */
.catalog_menu ul {
	display: none;
	position: absolute;
	width: 250px;
	top: 0;
	bottom: 0;
	left: 100%;
	background: #fff;
	/*box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);*/
}
.catalog_menu ul > li {
	padding: 0 15px;
}
.catalog_menu ul > li:hover > a {
	color: #aaa;
	box-shadow: none;
}
/* --- Расширенный список для пунктов подменю --- */
ul.sub-menu_category-list {
	display: none;
	width: 460px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	background: #fff;
	border-left: 1px solid #e5e5e5;
	/*box-shadow: 4px 2px 6px rgba(0,0,0,0.2);*/
	overflow: auto;
}
ul.sub-menu_category-list > li {
	padding: 0 10px;
}
ul.sub-menu_category-list li div {
	margin: 0 -10px;
}
ul.sub-menu_category-list li div > a {
	display: block;
	padding-left: 15px;
	font-weight: bold;
	color: #8E2E29;
	text-align: left;
}
ul.sub-menu_category-list li:hover div > a {
	background: #e7e7e7;
	box-shadow: none;
}
ul.sub-menu_category-list ol {
	overflow: hidden;
}
ul.sub-menu_category-list ol li {
	float: left;
	width: 50%;
}
ul.sub-menu_category-list li ol a {
	display: block;
	position: relative;
	padding: 8px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-shadow: none;
}
ul.sub-menu_category-list li ol a:hover {
	background: #e7e7e7;
}
/* --- Расширенный список, когда нет подменю --- */
.sub-menu_category-list.expand-list {
	display: none;
	min-width: 710px;
}
ul.sub-menu_category-list.expand-list ol li {
	float: left;
	width: 33.33%;
}
/*------ Content ------*/

#main {
	overflow: auto;
	padding-bottom: 250px;
}

.block-content {
	min-height: 400px;
	margin-top: 10px;
}

.img {
	margin-left: auto;
	margin-right: auto;
	-border: 1px solid red;
	z-index: 100;
}

.img img {
	width: 80px;
	margin-top: 0;
	margin-left: 20px;
}

.left-menu {
	float: left;
	width: 300px;
	min-height: 150px;
	border: 1px solid red;
	text-align: center;
	padding-top: 10px;
}
.left-menu img {
	vertical-align: bottom;
	margin-bottom: 2px;
}
/*.left-menu a {
	display: inline-block;
	text-decoration: none;
	margin-left: 10px;
	font-size: 1.2em;
	font-family: Helvetica, Arial, sans-serif;
	color: #f00;
	border-bottom: 1px dashed #f00;
}*/
/*.left-menu a:hover {
	border-bottom: none;
}*/

/* общие стили для блока фильтров */
.filter-aside {
	float: left;
	position: relative;
	width: 280px;
	min-height: 350px;
	border: 1px solid #d1d1d1;
	margin-top: 10px;
	margin-left: 10px;
}
.filter-block {
	box-sizing: border-box;
	display: block;
	width: 100%;
	margin: 0 auto;
	background: #fff;
	border-bottom: 1px solid #d1d1d1;
	font-family: Helvetica, Arial, sans-serif;
	padding: 4px 10px;
	box-shadow: 0px 0px 10px #ddd;
}
.filter-block ul li {
	font-size: 13px;
	padding: 5px;
	padding-left: 0;
}
.filter-block ul li.inv {
	display: none;
}
.filter-block ul li input[type="checkbox"] {
	margin: 0;
}
.filter-block ul li label {
	padding-left: 5px;
	vertical-align: text-bottom;
}
.fltr-heading {
	padding: 5px 0 5px;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 1px 1px 0px #fff;
	cursor: pointer;
}
.fltr-heading::before {
	content: "\25bc";
	display: inline-block;
	width: 15px;
	padding-right: 5px;
}
.fltr-heading.collapsed::before {
	content: "\25b6";
}
/* стили для всплывающих тултипов */

.info-tooltip {
	display: inline-block;
	position: relative;
	margin-left: 2px;
}
.info-tooltip_icon {
	display: block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 11px;
	font-weight: normal;
	color: #999;
	background-color: #fff;
	text-align: center;
	border: 1px solid #999;
	border-radius: 50%;
}
.info-tooltip_icon:hover,
.info-tooltip_icon:focus {
	color: #f00;
	border-color: #f00;
}
.info-tooltip_content {
	display: none;
	min-width: 250px;
	max-width: 350px;
	min-height: 100px;
	box-sizing: border-box;
	position: absolute;
	top: 24px;
	right: -63px;
	z-index: 10;
	font-size: 13px;
	font-weight: normal;
	line-height: normal;
	cursor: default;
	background: #fff;
	border: 1px solid #bfbfbf;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
}
.info-tooltip .info-tooltip_content.bottom {
	top: auto; bottom: 22px;
}
.info-tooltip .info-tooltip_content.left {
	right: auto; left: -65px;
}
.info-tooltip .info-tooltip_content.right {
	left: auto; right: -35px;
}
.info-tooltip .info-tooltip_content::before {
	content: '';
	display: block;
	background: #fff;
	transform: rotate(45deg);
	width: 15px;
	height: 15px;
	border: 1px solid #bfbfbf;
	position: absolute;
	top: -7px;
	left: 69%;
	margin-left: -2px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
}
.info-tooltip .info-tooltip_content.bottom::before {
	top: auto; bottom: -7px;
}
.info-tooltip .info-tooltip_content.left::before {
	left: auto; right: 69%;
	margin-left: 0; margin-right: -2px;
}
.info-tooltip .info-tooltip_content.right::before {
	left: auto; right: 13%;
	margin-left: 0; margin-right: -1px;
}

.info-tooltip .info-tooltip_content > p {
	display: block;
	background: #fff;
	position: relative;
	padding: 15px;
}

/* стили для инпутов и ползунка цены */

.fltr-body_price {
	margin-top: 10px;
}
.fltr-price input {
	width: 40px;
	height: 20px;
	margin-right: 10px;
	padding: 0 5px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* --- кнопка отправки значений слайдера цены --- */
/*.fltr-price input.price_btn {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	width: 50px;
	height: 20px;
	padding: 0 3px;
	cursor: pointer;
	background: #346F7D;
	color: #fff;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
}*/

/* Jquery UI slider
----------------------*/
.ui-slider {
	position: relative;
	text-align: left;
	margin-bottom: 5px;
}

/* Ширина, высота и позиционирование для ползунков
----------------------------------*/
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 15px;
	height: 15px;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
	cursor:pointer;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}
/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}
/* Высота горизонтальной полоски
----------------------------------*/
.ui-slider-horizontal {height: 10px;}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;

	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
.ui-slider-horizontal .ui-slider-range {top: 0;height: 100%;}
.ui-slider-horizontal .ui-slider-range-min {left: 0;}
.ui-slider-horizontal .ui-slider-range-max {right: 0;}

/* Ширина вертикальной полоски
----------------------------------*/
.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {left: 0;width: 100%;}
.ui-slider-vertical .ui-slider-range-min {bottom: 0;}
.ui-slider-vertical .ui-slider-range-max {top: 0;}

/* Указание шрифта и размера текста
----------------------------------*/
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
}

/* Стилизация полоски
----------------------------------*/
.ui-widget-content {
	margin-top: 10px;
	border: 1px solid #c6c6c6;
	background: #fff;
	color: #222222;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;

}
.ui-widget-content a {color: #222222;}

/* Стилизация промежутка между ползунками
----------------------------------*/
.ui-widget-header {
	background: #346f7d;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {color: #222222;}

/* Стилизация ползунков
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	font-weight: normal;
	color: #555555;
	border: 1px solid #ccc;
	border-top: 1px solid #eee;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 0%, #f2f0f1 39%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(39%,#f2f0f1), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 0%,#f2f0f1 39%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 0%,#f2f0f1 39%,#e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 0%,#f2f0f1 39%,#e8e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fafafa 0%,#f2f0f1 39%,#e8e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
	-ms-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
	-o-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
	box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}

/* Стилизация ползунка при наведении и фокусе
----------------------------------*/
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #fff;
	background: #65ABD0;
	font-weight: normal;
	color: #212121;
}

/* блок счетчика корзины */
#cart span.page-cart {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 1.2em;
	font-family: Helvetica, Arial, sans-serif;
	color: #f00;
	cursor: pointer;
	border-bottom: 1px dashed #f00;
}
#cart span.page-cart:hover {
	border-bottom: none;
}

/* Начало стилей модального окна корзины */
#modal_cart {
	width: 500px;
	min-height: 200px;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 50%; /* oтступaем сверху 50%*/
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -250px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: block;
	visibility: hidden;
	z-index: 1005; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
}
/* ссылки на товары в модальном окне*/
#modal_cart li {
	display: block;
}
/* Кнoпкa Х зaкрыть */
#modal_cart #modal_cart_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* Еще кнопка-закрывашка */
#modal_cart .modal_cart_btn {
	display: block;
	border: 1px solid #ba3329;
	border-radius: 3px;
	line-height: 20px;
	padding: 0 15px;
	margin-top: 20px;
	transition: none;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	background-color: #f00;
	/*background-image: linear-gradient(to bottom, #ed6d64, #ed574c);*/
	box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b, 0 2px 4px rgba(0, 0, 0, 0.2);
}

#modal_cart .modal_cart_btn:hover,
#modal_cart .modal_cart_btn:focus {
	background: #ed574c;
	border-color: #870c03;
	box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b;
}
#modal_cart .modal_cart_btn:active {
	background: #ed574c;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
#modal_cart .delete-item {
	width: 21px;
	height: 21px;
	/*position: absolute;*/
	/*top: 10px;*/
	/*right: 10px;*/
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:1003; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.5; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.5;  /*фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%;
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	/*cursor:pointer;*/
	display:none; /* в oбычнoм сoстoянии её нет) */
}
/* Счетчик товара в модальном окне корзины (+ "//" -) */
.spinner-wrap {
	box-sizing: border-box;
	display: inline-block;
	width: 78px;
	margin-left: 25px;
	position: relative;
	text-align: center;
	/*border: 1px solid #000;*/
}
.spinner-wrap a {
	box-sizing: border-box;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	width: 25px;
	line-height: 25px;
	background-image: linear-gradient(#fff,#e2e2e2);
	/*border: 1px solid #000;*/
	vertical-align: top;
}
.spinner-wrap a.spin-up {
	margin-left: -4px;
}
.spinner-wrap .spin-input {
	box-sizing: border-box;
	width: 25px;
	height: 25px;
	text-align: center;
	margin-left: -4px;
	/*border: 1px solid #000;*/
}
.spinner-wrap .spin-icon {
	display: block;
}
/* Окончание стилей модального окна корзины */

.news {
	float: left;
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	min-height: 150px;
	border: 1px solid red;
}

/*------- Стили для textarea -------------*/
.desc-edit {
	float: left;
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	min-height: 150px;
	border: 1px solid red;
}
.editForm {
	text-align: center;
}
.editForm > p {
	margin-top: 5px;
}
.editForm > p:last-child {
	margin: 10px 0;
	overflow-wrap: break-word;
}
.desc-edit input#send-desc {
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background: #e0685f;
	color: #fff;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
	0px 3px 4px -3px rgba(0, 0, 0, 0.3);
	transition: opacity 1s ease,
	color 1s ease;
}
.desc-edit input#send-desc:disabled {
	cursor: default;
	opacity: 0.5;
	color: #333;
}
.desc-edit textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	resize: vertical;
}
/*---- preloader ----*/

.desc-edit .loading_box{
	width: 50%;
	border: 1px solid #000;
	margin: 10px auto;
	display: none;
}
.desc-edit .loading_box img,
.desc-edit .loading_box span {
	display: block;
}
.desc-edit .loading_box img {
	max-width: 100%;
	margin: 5px auto;
}

/*------- Стили для datepicker -------------*/
.date_container {
	float: left;
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	min-height: 150px;
	height: auto;
	border: 1px solid red;
}

/* Air Datepicker */
#air_pickdate {
	display: block;
	position: relative;
	margin: 5px auto;
}

/*----- Стили для промо-слайдера ------- */
.promo-slider {
	position: relative;
	float: right;
	width: 650px;
	min-height: 250px;
	border: 1px solid red;
	/*background: #b0b0b0;*/
}

.slider-box {
	/* Оболочка слайдера */
	/*позиционируем блок относительно основной области карусели*/
	position: relative;
	width: 100%;
	/*скрываем содержимое, выходящее за рамки основной области*/
	/*overflow: hidden;*/
}
.slide {
	/* Слайд */
	width: 100%;
	/*height: 100%;*/
}
.slide img {
	display: block;
	width: 100%;
}

/*----- End of cтилей для промо-слайдера ------- */

/*----- Стили для галереи товара ------- */

.gallery-box {
	position: relative;
	float: right;
	width: 650px;
	min-height: 300px;
	margin-top: 10px;
	border: 1px solid red;
	background: #d2d2d2;
}
.view {
	position:relative;
	width: 100%;
	height: auto;
}
.big-image {
	display: block;
	position: relative;
	width: 95%;
	height: 100%;
	margin: 5px auto;
	border: 1px solid #000;
	background-color: #fff;
}
.big-image img {
	display: block;
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 300px;
	margin: 10px auto;
}
.big-image figcaption,
.popup_header figcaption {
	padding: 0.5em;
	background: none repeat scroll 0% 0% #FFF;
	line-height: 1.3;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: center;
	/*border: 1px solid #000;*/
}
.prev, .next
/*.popup-img_big .prev, .popup-img_big .next*/ {
	display: block;
	position: absolute;
	width: 40px;
	height: 100%;
	top: 0;
	overflow: hidden;
	text-indent: -999px;
	opacity: 0.7;
	z-index: 3;
	outline: none !important;
}
.prev {
	left: 10px;
	background:url(../img/controls.png) left center no-repeat;
}
.next {
	right: 10px;
	background:url(../img/controls.png) right center no-repeat;
}

.thumbnails {
	display: block;
	position: relative;
	max-width: 100%;  /*ширина всего блока */
	width: 95%;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #000;
}
.thumbnails-wrapper {
	position: relative;
	width: calc(100% * 0.5 + 20px);
	overflow: hidden;  /*скрываем содержимое, выходящее за рамки основной области */
	margin: 0 auto;
	padding: 5px 0;
	/*border: 1px solid #000;*/
}
.thumbnails ul {
	position: relative;
	width: 10000px;
	overflow: hidden;
	/*border: 1px solid #000;*/
}
.thumbnails ul li {
	display: block;
	position: relative;
	float: left;
	margin-right: 4px;
}
.thumbnails li img{
	display: block;
	max-width: 100%;
	width: 75px;
	height: 75px;
	border: 2px solid transparent;
}
.thumbnails .current img{
	border-color:#069;
}
/*********** BUTTONS ***********/
.thumb-prev, .thumb-next {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 2;
	margin: auto;
	cursor: pointer;
	text-decoration: none;
	visibility: hidden;
	/*border: 1px solid #D8D8D8;*/
}
.thumb-prev{
	left: calc(25% - 40px);
	background: url('../img/arrow_prev.png') 50% 50% no-repeat, white;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.thumb-next{
	right: calc(25% - 40px);
	background: url('../img/arrow_next.png') 50% 50% no-repeat, white;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.thumb-prev:hover,
.thumb-next:hover {
	border-bottom: 1px solid #dddddd;
}
.thumb-prev.locked,
.thumb-next.locked {
	opacity: 0.25;
}
.gallery-popup {
	display: flex;
	/*display: block;*/
	width: 90%;
	height: 90%;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	z-index: 1005;  /*oкнo дoлжнo быть нaибoлее бoльшем слoе */
	top: 50%;  /*oтступaем сверху 50%*/
	left: 50%;  /*пoлoвинa экрaнa слевa */
	transform: translate(-50%, -50%);
	background: #fff;
	visibility: hidden;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
}
.gallery-popup .gallery-popup-content {
	/*position: relative;*/
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	/*background: #fff;*/
	/*border: 1px solid #f00;*/
}
.gallery-popup .popup_body {
	display: block;
	/*display: flex;*/
	flex-grow: 1;
	position: relative;
	width: 100%;
	height: 75%;
	/*background: #fff;*/
	border: transparent;
	overflow: auto;
}
.gallery-popup .popup_body figure {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	/*border: 1px solid #000;*/
}
.gallery-popup .popup_body figure img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	/*border: 1px solid #000;*/
}
.gallery-popup .popup_footer {
	flex-shrink: 1;
	display: flex;
	/*display: block;*/
	position: relative;
	max-width: 100%;  /*ширина всего блока */
	width: 100%;
	max-height: 25%;
	margin: 0 auto;
	/*background: #fff;*/
	border: transparent;
	/*overflow: auto;*/
}
.gallery-popup .popup_footer .thumbnails-wrapper {
	display: block;
	width: 326px;
	overflow: hidden;  /*скрываем содержимое, выходящее за рамки основной области */
	padding: 10px 5px;
	margin: 0 auto;
	/*border: 1px solid #000;*/
}
.gallery-popup .popup_footer ul {
	position: relative;
	width: 10000px;
	/*border: 1px solid #000;*/
}
.gallery-popup .popup_footer ul li {
	display: block;
	position: relative;
	float: left;
	margin-right: 4px;
}
.gallery-popup .popup_footer li img {
	display: block;
	max-width: 100%;
	width: 75px;
	height: 75px;
	border: 2px solid transparent;
}
.gallery-popup .popup_footer .thumb-prev {
	left: 215px;
}
.gallery-popup .popup_footer .thumb-next {
	right: 215px;
}
.gallery-popup .popup_footer .current img{
	border-color:#069;
}

/* Кнoпкa Х зaкрыть */
.gallery-popup .popup_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1007;
	cursor: pointer;
	display: block;
	background: #fff;
	border: none;
	border-radius: 1px;
}
.gallery-popup .popup_close:hover,
.gallery-popup .popup_close:focus {
	background: #ed574c;
	border-color: #870c03;
	box-shadow: 0 0 3px rgba(0,0,0,.75);
	/*box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b;*/
}
.gallery-popup .popup_close:active {
	background: #ed574c;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);*/
}

/*----- End of cтилей для галереи товара ------- */

/*----- Product card section ------*/
.deals {
	float: right;
	width: 650px;
	min-height: 150px;
	border: 1px solid red;
	margin-top: 10px;
}
.product {
	position: relative;
	float: left;
	margin-right: 10px;
	width: 120px;
	height: 200px;
	background: white;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
}
.price {
	display: block;
	float: right;
	z-index: 1000;
	font-family: "Impact", "Price", sans-serif;
	font-style: italic;
	font-size: 25px;
	color: red;
	text-align: right;
	white-space: nowrap;
	line-height: 1;
	text-shadow: -0.05em -0.02em 0px #FFF, -0.07em 0.05em 0px #FFF, 0.07em -0.05em 0px #FFF, 0.05em 0.05em 0px #FFF, 0.08em 0.08em 0px #707070, -0.03em 0.08em 0px #707070;
}
.button {
	display: block;
	position: absolute;
	bottom: 10px;
	left: 35px;
	width: 50px;
	height: 15px;
	background: red;
	cursor: pointer;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
}
.btn-added {
	display: block;
	position: absolute;
	bottom: 10px;
	left: 35px;
	width: 50px;
	height: 15px;
	padding: 2px;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	color: red;
	background: white;
	cursor: pointer;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3);
}

/*----- Стили для карусели ------- */
.slider-wrap {
	float: right;
	width: 650px;
	min-height: 100px;
	border: 1px solid red;
	margin-top: 10px;
	background-color: white;
}

.carousel-header {
	font-size: 1.5em;
	font-weight: bold;
	color: #3f454b;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}
.carousel  {
	position: relative;
	/*width: 350px;*/
	max-width: 100%;  /*ширина всего блока */
	margin: 5px auto;
}
.carousel-wrapper {
	position: relative;
	overflow: hidden;  /*скрываем содержимое, выходящее за рамки основной области */
	margin: 0px 25px; /* отступы для стрелок */
}
.carousel-items {
	position: relative; /* позиционируем блок относительно основной области карусели */
	width: 10000px; /* устанавливаем большую ширину для набора элементов */
}
.carousel-block {
	display: block;
	position: relative;
	float: left; /*выстраиваем все элементы карусели в ряд */
	width: 122px;  /*задаём ширину каждого элемента */
	padding: 10px 10px 0 10px;  /*делаем отступы, чтобы элементы не сливались */
	margin-right: 10px;
	margin-bottom: 2px;
	text-align: center;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
	transition: box-shadow 0.2s;
}
.carousel-block:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)
}
.carousel-block a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
.carousel-block img {
	display: block;
	margin: 0 auto;
	max-width: 90%;
}
.q-item-text {
	width: 100%;
	color: #000;
	margin-top: 5px;
	text-align: center;
}

/*********** BUTTONS ***********/
.carousel-button-left, .carousel-button-right {
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 2;
	margin: auto;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid #D8D8D8;
}
.carousel-button-left{
	top: 0;
	left: -10px;
	bottom: 0;
	background: url('../img/arrow_prev.png') 50% 50% no-repeat, white;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.carousel-button-right{
	top: 0;
	right: -10px;
	bottom: 0;
	background: url('../img/arrow_next.png') 50% 50% no-repeat, white;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.carousel-button-left:hover,
.carousel-button-right:hover {
	border-bottom: 1px solid #dddddd;
}
.carousel-button-left.locked,
.carousel-button-right.locked {
	opacity: 0.25;
}

/*********** SHADOW ***********/
/*.shadow{
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}*/

/*----- Конец стилей для карусели ------- */

/*----- Стили для блока загрузки файлов ------- */



/*----- Конец стилей для блока загрузки файлов ------- */

.vendors {
	float: right;
	width: 650px;
	min-height: 100px;
	border: 1px solid red;
	margin-top: 10px;
}

/*----- Стили для блока Tab'ов ------- */

/* Обертка */
.tab_wrapper {
	box-sizing: border-box;
	float: right;
	width: 100%;
	max-width: 650px;
	/*min-height: 150px;*/
	height: auto;
	margin-top: 10px;
	margin-bottom: 30px;
}
/*  блок вкладок  */
.tabs {
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0;
	padding: 0;
	font-size: 0;
}

/* каждая вкладка */
.tab {
	box-sizing: border-box;
	display: inline-block;
	flex-grow: 1;
	position: relative;
	z-index: 2;
	max-width: 100%;
	cursor: pointer;
	/*margin-right: -4px;*/
	margin-bottom: -1px;
	padding: 10px 15px;
	background-color: #e9e9e9;
	text-align: center;
	font-size: 14px;
	-webkit-transition: all .2s linear 0s;
    -webkit-transition-delay: .2s 0s;
    transition: all .2s linear 0s;
    border: 1px solid #ddd;
	border-right: none;
}
.tab:last-child {
	border-right: 1px solid #ddd;
}

/* активная вкладка */
.tab.tab--active {
	color: #f00;
	background: #fff;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #f00; /* дерганье */
}
/* блоки вкладок с содержанием */
.tab_content {
	box-sizing: border-box;
	padding: 20px;
	overflow: hidden;
	position: relative;
	background: white;
	border: 1px solid #ddd;
}
.tab_item {
	box-sizing: border-box;
	display: none;
	padding: 15px;
	margin-right: 40px;
	background-color: #fff;
	font-size: 1em;
	text-align: left;
}
.tab_item h2 {
	padding-bottom: 5px;
	font-size: 1.5em;
	font-weight: bold;
}
/* активный блок при загрузке */
.tab_item--visible
 {
	display: block;
}
/* картинки внутри вкладок */
/*.tab_item img {
    width: 25%;
    height: auto;
}*/

/* картинки слева */
/*.pl-left {
    float: left;
    margin: 5px 15px 5px 0;
}*/

/* картинки справа */
/*.pl-right {
    float: right;
    margin: 5px 0 5px 15px;
}*/

/* убираем выравнивание на маленьких экранах */
/*@media (max-width: 320px) {
    .tabs,
    .tab {
        display: block;
    }
}*/

/*----- Конец стилей для блока Tab'ов ------- */

/*----- Стили для аккордеона ------- */

/* Обертка */
.acc_container {
	box-sizing: border-box;
	float: right;
	width: 100%;
	max-width: 650px;
	/*min-height: 150px;*/
	height: auto;
	margin-top: 10px;
	margin-bottom: 30px;
}
/* Панель */
.acc_panels {
	width: 95%;
	margin: 0 auto;
}

/* Заголовок панели */
.acc_panel_title {
	box-sizing: border-box;
	position: relative;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #eee;
	color: #555;
	opacity: 0.6;
	border: 1px solid #ccc;
	border-top: 0;
}
/*.acc_panel_title:not(:first-child) {
	margin-top: -1px;
}*/
.acc_panel_title:first-child {
	border-top: 1px solid #ddd;
}
.acc_panel_title:hover,
.acc_panel_title:active {
	color: #222;
	background-color: #ececec;
	opacity: 1;
}
.acc_panel_title.acc_panel_title--active,
.acc_panel_title.acc_panel_title--active:hover {
	border-bottom-color: #f00;
	background-color: #fff;
	color: #f00;
	opacity: 1;
}
.acc_panel_title h2 {
	box-sizing: border-box;
	padding: 20px 40px;
	text-align: center;
	cursor: pointer;
}
.acc_panel_title span {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 25px;
	height: 25px;
	text-align: center;
	vertical-align: top;
	color: #fff;
	font-size: 20px;
	background: #3498db;
}

/* Контент панели */
.acc_panel_info {
	position: relative;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: 0;
}
.acc_panel_info p {
	padding: 10px 30px;
	text-align: justify;
}

/*----- Конец стилей для аккордеона ------- */

/* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -250px;
	/* negative value of footer height */
	height: 250px;
	clear: both;
	background: white;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px -3px 4px -3px rgba(0, 0, 0, 0.3);
}
.footer {
	height: 200px;
	clear: both;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px -3px 4px -3px rgba(0, 0, 0, 0.3);
}
.block-footer {
	height: 200px;
	margin-top: 10px;
	border: 1px solid red;
}

/* ------ Clearfix ------- */
.clearfix::before {
	content: '';
	clear: both;
	display: table;
}
.clearfix::after,
.closer {
	clear: both;
}

/* ----- Link to Top ------ */
#top-link {
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: none;
}

/*------ Lock Overlay -------*/
.lock {
	overflow: hidden;
}

/*Opera Fix*/

body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
	/
}

<! - [! Если IE 7]> <Тип стиль="текст / CSS"> #wrap {
	дисплей: таблица;
	высота: 100%
}

</ Стиль> <! [ENDIF] ->
