# jQuery Files

jquery*.js
jquery*.css

# libs

owl.carousel*.js
owl.carousel*.css
slick*.css
slick*.js


# PHP files

Database*.php
Router*.php

# Folders

/css/images
img/preloaders/
img/sprites/